
.signup-conatiner {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #dbeafe, #fce7f3);
  font-family: Arial, sans-serif;
}


.signup-card {
  width: 420px;
  background: #ffffff;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  border-top: 6px solid #3b82f6; 
}


.signup-title {
  text-align: center;
  margin-bottom: 20px;
  color: #1e3a8a; 
}


.gender-conatiner {
  display: flex;
  justify-content: space-around;
  margin: 10px 0 15px;
  padding: 10px;
  background-color: #fdf1b4; 
  border-radius: 8px;
}

.gender-container label {
  font-weight: 500;
  color: #92400e;
}


button {
  width: 100%;
  margin-top: 10px;
  background-color: #184c06; 
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #db2777;
}


.login-link {
  text-align: center;
  margin-top: 15px;
}

.login-link a {
  color: #3b82f6;
  font-weight: bold;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}
